[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pyproject.toml" = "*"
pytest = "*"
hypothesis = "*"
black = "*"
isort = "*"
pylint = "*"
autoflake = "*"

[dev-packages]

[requires]
python_version = "3.11"
